[replication-service]
type=service
router=binlogrouter
server_id=1
filestem=binlog
user=repl
password=repl
mariadb10-compatibility=0

[replication-Listener]
type=listener
service=replication-service
protocol=MySQLClient
port=3306

[avro-service]
type=service
router=avrorouter
source=replication-service
user=cdcuser
password=cdc
filestem=binlog

[cdc-listener]
type=listener
service=avro-service
protocol=CDC
port=4001
